.App-header {
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: left;
  font-family: "Shrikhand", serif;
  font-size: xx-large;
  margin-top: 0.5em;
  padding: 0.5em 0em;
  background-color: rgb(163, 132, 29);
}

.App-name,
.fetch-error,
.image-container-none,
.home,
.not-found {
  text-decoration: none;
  margin-left: 1em;
  color: rgb(138, 16, 187);
  width: fit-content;
  padding: 0.5em;
}

.App-name {
  border-radius: 5px;
  background-color: rgb(255, 162, 0);
  cursor: pointer;
}

.not-found {
  font-size: x-large;
}

.tennis {
  height: 2em;
  width: fit-content;
  animation: glide 35s infinite;
}

@keyframes glide {
  0% {
    transform: translate(1vw, 5vh);
  }
  50% {
    transform: translate(60vw, 5vh);
  }
  100% {
    transform: translate(1vw, 5vh);
  }
}