.App-header {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: "Shrikhand", serif;
  font-size: xx-large;
  margin-top: 0.5em;
  background-color: rgb(189, 183, 86);
}

.App-name, 
.fetch-error,
.image-container-none,
.home,
.not-found {
  text-decoration: none;
  margin-left: 1em;
  color: rgb(138, 16, 187);
  width: fit-content;
  padding: 0.5em;
}

.App-name {
  border-radius: 5px;
  background-color: rgb(255, 162, 0);
  cursor: pointer;
}

.not-found {
  font-size: x-large;
}