.image-container {
    width: 95vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 2em;
}

.breed-card {
    width: 23vw;
    height: 35vh;
    background-size: cover;
}

.breed-image {
    width: inherit;
}

.breed-name {
    display: none;
}

.breed-card:hover {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 200, 0);

    .breed-name {
        display: block;
        background-color: rgba(255, 255, 255, 0.608);
        width: fit-content;
        padding: 0.5em;
        margin-left: 1em;
        font-weight: 600;
        font-size: larger;
    }
}

@media screen and (max-width: 500px) {
    .image-container {
        width: 95vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin-top: 2em;
        margin-left: 2em;
    }

    .breed-card {
        width: 80vw;
    }
}